.cover__subtitle {
  margin: 0;
  padding: 0;
  text-align: center;
  color: rgba(255, 255, 255);
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  max-width: 360px;
  z-index: 2;
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    padding: 0 12px 33px 12px;
    font-size: 14px;
    line-height: 16px;
    max-width: 288px;
    box-sizing: border-box;
  }
}